@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset body styles to work with Tailwind */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
} 

.test-tailwind {
  @apply text-3xl text-red-500;
}